@charset "UTF-8";
* {
  font-family: 'Poppins', 'sans-serif','微軟正黑體';
  position: relative; }

a {
  text-decoration: none; }
  a:hover, a:visited, a:active {
    text-decoration: none; }

a.btn.btn-default {
  background-color: transparent;
  border: 2px solid #e3d4a2;
  border-radius: 0;
  padding: 10px 35px;
  font-size: 1em;
  letter-spacing: 0.1em;
  position: absolute;
  left: 50%;
  bottom: 15%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #e3d4a2; }
  a.btn.btn-default:hover {
    background-color: #e3d4a2;
    color: white; }

.baseline {
  width: 100%;
  margin-top: -35px; }

h1 {
  color: #e3d4a2;
  font-size: 1.2em;
  letter-spacing: 0.05em; }

#header .bg_01 {
  padding: 0px;
  border: none;
  margin: 0px; }
  #header .bg_01 img.logo {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    position: absolute;
    max-width: 80%; }
  #header .bg_01 ul.top_menu {
    text-align: center;
    width: 100%;
    background-color: #e3d4a2;
    position: fixed;
    z-index: 100;
    padding: 0px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #header .bg_01 ul.top_menu li {
      display: inline-block;
      padding: 15px 0px;
      cursor: pointer; }
      #header .bg_01 ul.top_menu li:hover {
        background-color: #FFF; }
      #header .bg_01 ul.top_menu li a {
        color: white;
        padding: 13px 20px;
        letter-spacing: 0.1em;
        font-size: 1.2em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        #header .bg_01 ul.top_menu li a:hover {
          background-color: white;
          color: #e3d4a2;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
      @media screen and (max-width: 500px) {
        #header .bg_01 ul.top_menu li a {
          font-size: 1em;
          padding: 15px 10px; } }
    #header .bg_01 ul.top_menu.at_top {
      background-color: transparent; }

.bg_01, .bg_02, .bg_03 {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat; }

.bg_01 {
  height: 675px;
  background-image: url(../img/bg_01.png); }

.bg_02 {
  height: 879px;
  background-image: url(../img/bg_02.png); }

.bg_03 {
  height: 458px;
  background-image: url(../img/bg_03.png); }

#section_portfolio .bg_02 {
  text-align: center;
  height: 879px; }
  #section_portfolio .bg_02 hr {
    width: 50px;
    border: 3px solid #e3d4a2; }
  #section_portfolio .bg_02 p {
    color: #e3d4a2;
    letter-spacing: 0.05em;
    padding: 10px;
    width: 500px;
    max-width: 80%;
    position: absolute;
    left: 50%;
    bottom: 150px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  #section_portfolio .bg_02 .btn.btn-default {
    bottom: 10%; }
  #section_portfolio .bg_02 .container .col-sm-12 .works {
    width: 100%;
    height: 100%; }
    #section_portfolio .bg_02 .container .col-sm-12 .works .work {
      width: 150px;
      height: 150px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      cursor: pointer; }
      #section_portfolio .bg_02 .container .col-sm-12 .works .work:hover.work01 {
        background-image: url(../img/works01_h.png); }
      #section_portfolio .bg_02 .container .col-sm-12 .works .work:hover.work02 {
        background-image: url(../img/works02_h.png); }
      #section_portfolio .bg_02 .container .col-sm-12 .works .work:hover.work03 {
        background-image: url(../img/works03_h.png); }
      #section_portfolio .bg_02 .container .col-sm-12 .works .work:hover.work04 {
        background-image: url(../img/works04_h.png); }
      #section_portfolio .bg_02 .container .col-sm-12 .works .work:hover.work05 {
        background-image: url(../img/works05_h.png); }
      #section_portfolio .bg_02 .container .col-sm-12 .works .work:hover.work06 {
        background-image: url(../img/works06_h.png); }
    @media screen and (max-width: 500px) {
      #section_portfolio .bg_02 .container .col-sm-12 .works .work {
        width: 120px;
        height: 120px; } }
    #section_portfolio .bg_02 .container .col-sm-12 .works .work01 {
      background-image: url(../img/works01.png);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    #section_portfolio .bg_02 .container .col-sm-12 .works .work02 {
      background-image: url(../img/works02.png);
      -webkit-transform: translate(-97%, 80%);
      -ms-transform: translate(-97%, 80%);
      transform: translate(-97%, 80%); }
    #section_portfolio .bg_02 .container .col-sm-12 .works .work03 {
      background-image: url(../img/works03.png);
      -webkit-transform: translate(-3%, 80%);
      -ms-transform: translate(-3%, 80%);
      transform: translate(-3%, 80%); }
    #section_portfolio .bg_02 .container .col-sm-12 .works .work04 {
      background-image: url(../img/works04.png);
      -webkit-transform: translate(-142.5%, 160%);
      -ms-transform: translate(-142.5%, 160%);
      transform: translate(-142.5%, 160%); }
    #section_portfolio .bg_02 .container .col-sm-12 .works .work05 {
      background-image: url(../img/works05.png);
      -webkit-transform: translate(-50%, 160%);
      -ms-transform: translate(-50%, 160%);
      transform: translate(-50%, 160%); }
    #section_portfolio .bg_02 .container .col-sm-12 .works .work06 {
      background-image: url(../img/works06.png);
      -webkit-transform: translate(42.5%, 160%);
      -ms-transform: translate(42.5%, 160%);
      transform: translate(42.5%, 160%); }

footer#footer .bg_03 {
  text-align: center; }
  footer#footer .bg_03 .container .col-sm-6.left {
    padding: 20px 0px 20px 90px;
    text-align: left; }
  footer#footer .bg_03 .container .col-sm-6.right {
    padding: 20px 90px 20px 0px; }
  footer#footer .bg_03 .container .col-sm-6 h1 {
    padding: 0px;
    margin: 0px 0px 10px 0px; }
  footer#footer .bg_03 .container .col-sm-6 p {
    color: #e3d4a2;
    letter-spacing: 0.05em; }
  footer#footer .bg_03 .container .col-sm-6 .col-xs-12 {
    padding: 0px;
    margin: 0px 0px 30px 0px;
    text-align: right;
    font-size: 0px; }
    footer#footer .bg_03 .container .col-sm-6 .col-xs-12 ul {
      list-style-type: none;
      height: 50px;
      padding: 0;
      margin: 0px 0px 10px 0px; }
      footer#footer .bg_03 .container .col-sm-6 .col-xs-12 ul li {
        display: inline-block;
        padding: 0px 5px; }
        footer#footer .bg_03 .container .col-sm-6 .col-xs-12 ul li a {
          display: block;
          cursor: pointer;
          width: 40px; }
          footer#footer .bg_03 .container .col-sm-6 .col-xs-12 ul li a img {
            position: absolute;
            left: 0;
            top: 0;
            border: 0px; }
          footer#footer .bg_03 .container .col-sm-6 .col-xs-12 ul li a:hover img {
            -webkit-animation: floatIcon .5s ease-in-out infinite alternate-reverse;
            animation: floatIcon .5s ease-in-out infinite alternate-reverse; }

@-webkit-keyframes floatIcon {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes floatIcon {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }
    footer#footer .bg_03 .container .col-sm-6 .col-xs-12 input.email {
      background-color: transparent;
      border: 1px solid #e3d4a2;
      padding: 5px 10px;
      margin: 0px;
      margin-bottom: 10px;
      color: #e3d4a2;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      vertical-align: top; }
      footer#footer .bg_03 .container .col-sm-6 .col-xs-12 input.email:focus {
        outline: none; }
    footer#footer .bg_03 .container .col-sm-6 .col-xs-12 input.submit {
      padding: 5px 10px;
      margin: 0px;
      background-color: transparent;
      border: 1px solid rgba(227, 212, 162, 0);
      color: #e3d4a2; }
      footer#footer .bg_03 .container .col-sm-6 .col-xs-12 input.submit:hover {
        background-color: #e3d4a2;
        border: 1px solid #e3d4a2;
        color: white; }
      footer#footer .bg_03 .container .col-sm-6 .col-xs-12 input.submit:focus {
        outline: none; }
    footer#footer .bg_03 .container .col-sm-6 .col-xs-12 h1 {
      font-size: initial; }
    footer#footer .bg_03 .container .col-sm-6 .col-xs-12 p, footer#footer .bg_03 .container .col-sm-6 .col-xs-12 a, footer#footer .bg_03 .container .col-sm-6 .col-xs-12 input, footer#footer .bg_03 .container .col-sm-6 .col-xs-12 input.submit {
      font-size: initial;
      font-weight: 100; }
  @media screen and (max-width: 770px) {
    footer#footer .bg_03 .container .col-sm-6.left, footer#footer .bg_03 .container .col-sm-6.right {
      padding: 10px 50px;
      text-align: left; }
      footer#footer .bg_03 .container .col-sm-6.left .col-xs-12, footer#footer .bg_03 .container .col-sm-6.right .col-xs-12 {
        text-align: left; } }
  @media screen and (max-width: 500px) {
    footer#footer .bg_03 .container .col-sm-6 h1 {
      font-size: 1.2em; }
    footer#footer .bg_03 .container .col-sm-6 p {
      font-size: 0.6em; } }
  footer#footer .bg_03 p.copyright {
    color: #e3d4a2;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 10px;
    font-style: italic;
    font-size: 12px; }
